@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
EmployeeDetails.cshtml
<div class="container">

    <h3> Thank you !!</h3>

    <table class="table">

        <tr>

            <td> Id </td>

            <td>  @ViewBag.Id </td>

        </tr>

        <tr>

            <td> name</td>

            <td> @ViewBag.name</td>

        </tr>

        <tr>

            <td>Mobile Number</td>

            <td> @ViewBag.phone</td>

        </tr>
         <tr>

            <td>Salary</td>

            <td> @ViewBag.salary</td>

        </tr>


       

        
        

        <tr>

            <td>Employee Designation</td>

            <td>@ViewBag.options</td>

        </tr>

    </table>
</div>
